<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Blog Item</title>
  </head>
  <style>
    * {
      box-sizing: border-box;
    }

    .post-item {
      margin: 100px 200px;
      padding: 10px;
      border: 1px solid gray;
    }

    p {
      text-align: justify;
    }
  </style>
  <body>
    <h1>Single blog post</h1>
    <div id="post-container"></div>
  </body>

  <script>
    const postContainer = document.getElementById('post-container');
    const splitArray = location.pathname.split('/');
    let blogId = splitArray[2];

    fetch(`/api/blog/${blogId}`)
      .then((response) => response.json())
      .then((response) => {
        const postContent = `
          <div class="post-item">
          <h1>${response.post.title} </h1>
          <h2>By: ${response.post.author} </h2>
          <img height="400" width="600" src="${response.post.imageUrl}" />
          <p>${response.post.body}</p>
          <a href="/blog"><button >Go back to All Post</button></a> 
          </div>
          `;

        postContainer.innerHTML = postContent;
      });
  </script>
</html>
